.card {
  max-width: 413px;
  white-space: nowrap;
  overflow: hidden;
}

.card__title {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  max-width: 373px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/Like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
    opacity: 1;
  }
  .card__title {
    line-height: 100%;
    letter-spacing: 0;
    max-width: 235px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
    opacity: 0.4;
  }
}
