.footer {
  display: flex;
  justify-content: center;
  color: #212121b2;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 100%;
}
