.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.3s linear 0.3s, opacity 0.3s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  cursor: pointer;
  transition: opacity .15s ease, transform .15s ease;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__input {
  display: block;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  margin: 8px 0 0;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  color: #fff;
  border: none;                             
  cursor: pointer;                           
  transition: background-color .2s ease;     
}

.modal__submit-btn:hover {
  background-color: #1a1a1a;
}

.modal_label {
  margin: 0 0 32px;
}

@media (max-width: 300px) {
  .modal__submit-btn {  
    max-width: none;
    width: 276;
    height: 52;
    padding: 18px 32px;
    gap: 8px;
    opacity: 1;
    border-radius: 8px;
  }

  .modal__container{
    width: 300;
    height: 336;
    top: 134px;
    left: 10px;
    gap: 24px;
    opacity: 1;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    font-weight: 500;
  }

  .modal__submit-btn {  
    max-width: none;
  }

  .modal__container{
    padding: 22px 12px 12px;
  }

    .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 16px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
  }
}
}