.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-style: medium;
  line-height: 100%;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__input {
  display: block;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  margin: 8px 0 0;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  color: #fff;
}

.modal_label {
  margin: 0 0 32px;
}

@media (max-width: 627px) {
  .modal__submit-button {
    max-width: none;
  }
}
