.profile {
  display: flex;
  flex-direction: row;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  align-items: flex-start;
}

.profile__name {
  margin: 0 0 12px;
  font: 500 32px/1 Poppins;
  color: #212121;
  width: 100%;
  max-width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.profile__description {
  margin: 0;
  font: 500 16px/1 Poppins;
  color: #212121b2;
  max-width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.profile__edit-btn {
  display: flex;
  padding: 0;
  margin-top: auto;
  gap: 8px;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
}

.profile__add-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: auto;
  height: 52px;
  background-color: #212121;
  color: #fcf5ef;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  border: none;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.profile__edit-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 672px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin: 0 0 12px 0;
    height: 80px;
    width: 80px;
  }

  .profile__add-btn {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__description {
    text-align: center;
    margin: 0 0 32px;
  }
}
