.profile {
  display: flex;
  flex-direction: column;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
}

.profile__edit-btn {
  display: flex;
  margin-top: auto;
  gap: 8px;
  opacity: 0.7;
  border: none;
  background-color: #fcf5e5;
}

.profile__add-btn {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: auto;
  height: 52px;
  background-color: #212121;
  color: #ffffff;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  border: none;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.profile__edit-btn:hover {
  opacity: 1.0;
}

@media screen and (max-width: 672px) {

.profile {
  flex-direction: column;
  max-width: 288px;
  align-items: center;
  text-align: center;
}

.profile__avatar {
  margin-right: 0;
  height: 80px;
  width: 80px;
}

.profile__add-btn {
  margin: 0;
}
